body {
  background-color: #a8a7a6;
}

.sports {
  display:flex;
  flex-wrap: wrap;
  align-items:  center;
}

.citation {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.citation > p {
  font-size: 12px;
  font-style: italic;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-family:monospace;
  font-size: 25px;
}

a:link {
  color: whitesmoke;
}


a:active {
  color: red;
}

a:visited {
  color: black;
  background-color: red;
}

.gallery {
  display:flex;
  flex-wrap:wrap;

}

.image-card {
  display:flex;
  flex-direction:row;
align-content: center;
  flex-grow:1;
  padding:2px;
  align-content: center;


}

.info {
  width: 95%;

  align-content: center;
}

li {
  font-size: 30px;
}

.accomplishments{
  width:15px;
}
